body
{
	background-color: yellow;
}


h1
{
	text-align: center;
	background-color: deepskyblue;
}

form
{
	margin-top: 100px;
	margin-left:600px;
}

nav
{
	margin-left: 20px;
	margin-right: 20px;
}

footer
{
	margin : 30px;
}

.option
{
	padding-right: 20px;
}

.formbutton
{
	display: table-cell;
}

.catalogue
{
	margin-left: 20px;
	margin-right: 20px;
}

.inscriptionLink
{
	margin-left:120px;
	margin-bottom: 500px;
}
