.	/**DEFAULT VALUES**/
{
	margin: 0;
	padding: 0;
}

/**FONTS IMPORT**/

@font-face {
  font-family: "Cooper Black";
  src: url("../fonts/cooperblack.ttf");
}

/**HTML LABELS**/




html
{
  background-color: #FF6666;
}

header
{
	z-index: 50;
	margin: 0 !important;
}

body
{
	/**Stripped background red/white**/
	background: repeating-linear-gradient(	
    	-55deg,
    	#FF6666,
    	#FF6666 10px,
    	#F0F0F0 10px,
    	#F0F0F0 20px
  );
}

form
{
	margin-top: 100px;
	margin-left:600px;
}

th
{
	font-family: 'Cooper Black', serif;
}

td
{
	max-height: 150px;
}

footer
{
	margin : 30px;
	padding: 10px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	font-weight: bold;
	color: #FFCC33;
}

/**MY OWN CLASS LABELS**/

.global-image
{
	position: relative;

	background-size: cover;
	height: 150px;
	margin-top: 120px;
					/**text on the top for every pages**/
	text-align: center;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	font-family: 'Cooper Black', serif;
	font-weight: bold;
	font-size: 3em;
	color: #FFCC33;
}

.welcome
{
	font-size: 150%;	/**Bigger text for the welcome page than the others**/
	margin: auto;
}


.loginbox
{
	max-width: 400px;

}
.page
{

}

.option
{
	padding-right: 20px;
}

.candy
{
	display: inline;
	margin-left: 30px;
}

.opbutton
{
	margin: auto;
}

.formbutton
{
	display: table-cell;
}

.basketbutton
{
	max-width: 100px;
	max-height: 100px;
	margin: auto;
}

.catalogue
{
	padding: 0px 0;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFCC33;
}

.price
{
	font-weight: bold;
}

.formregist
{
	margin: auto;
	padding-left: 100px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	color: #FFCC33;
}

.formconnec
{
	margin: auto;
	padding-left: 100px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	color: #FFCC33;
}

.registrationLink
{
	margin-left: 150px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	color: #FFCC33;
}

.leftfoot
{
	margin-left:30px;
	padding-left: 10px;
}

.rightfoot
{
	align: center;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;	/**Shadow letter**/
	color: #FFCC33;
}
