h1
{
	text-align: center;
}

form
{
	margin-top: 100px;
	margin-left:600px;
}

nav
{
	margin-left: 20px;
	margin-right: 20px;
}

footer
{
	margin : 30px;
}

.catalogue
{
	margin-left: 20px;
	margin-right: 20px;
}

.inscriptionLink
{
	margin-left:120px;
	margin-bottom: 500px;
}
